/* Typography */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 22px;
}
h4._lg {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101010;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  font-size: 16px;
  line-height: 1.8em;
}
p.lg {
  font-size: 18px;
}

:root {
  height: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
}
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

body {
  height: 100%;
  cursor: default;
  font-family: "Inter", sans-serif, sans-serif;
  font-size: 14px;
  color: #101010;
  line-height: 1.7em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: #EEF5FA;
}

body.active {
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img,
svg {
  pointer-events: none;
}

.input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 16px;
}
.input input,
.input textarea,
.input .input__selected {
  padding: 0.5em 0.65em;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #CEDCE5;
  resize: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #68767F;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: inherit;
  line-height: 1;
}
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder, .input .input__selected::-webkit-input-placeholder {
  color: #68767F;
  -webkit-transition: 0.13s ease-out;
  transition: 0.13s ease-out;
  font-weight: 300;
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder, .input .input__selected::-moz-placeholder {
  color: #68767F;
  -moz-transition: 0.13s ease-out;
  transition: 0.13s ease-out;
  font-weight: 300;
}
.input input:-ms-input-placeholder, .input textarea:-ms-input-placeholder, .input .input__selected:-ms-input-placeholder {
  color: #68767F;
  -ms-transition: 0.13s ease-out;
  transition: 0.13s ease-out;
  font-weight: 300;
}
.input input::-ms-input-placeholder, .input textarea::-ms-input-placeholder, .input .input__selected::-ms-input-placeholder {
  color: #68767F;
  -ms-transition: 0.13s ease-out;
  transition: 0.13s ease-out;
  font-weight: 300;
}
.input input::placeholder,
.input textarea::placeholder,
.input .input__selected::placeholder {
  color: #68767F;
  -webkit-transition: 0.13s ease-out;
  transition: 0.13s ease-out;
  font-weight: 300;
}
.input input:focus,
.input textarea:focus {
  color: #3B454C;
  border-color: #68767F;
}
.input input:focus::-webkit-input-placeholder, .input textarea:focus::-webkit-input-placeholder {
  color: #B2C2CC;
}
.input input:focus::-moz-placeholder, .input textarea:focus::-moz-placeholder {
  color: #B2C2CC;
}
.input input:focus:-ms-input-placeholder, .input textarea:focus:-ms-input-placeholder {
  color: #B2C2CC;
}
.input input:focus::-ms-input-placeholder, .input textarea:focus::-ms-input-placeholder {
  color: #B2C2CC;
}
.input input:focus::placeholder,
.input textarea:focus::placeholder {
  color: #B2C2CC;
}
.input__icon-right {
  position: absolute;
  top: 1px;
  right: 1px;
  height: calc(100% - 2px);
  padding: 0.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #E9F6FF;
  color: #68767F;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 0 5px 5px 0;
}
.input__icon-right .icon {
  font-size: 1.5em;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.input__icon-right:hover {
  color: #40A2E3;
  background: #F3FAFF;
}
.input__icon-right:active {
  color: #262E33;
  background: #E9F6FF;
}
.input__icon-right ~ input, .input__icon-right ~ textarea {
  padding-right: 2.5em;
}
.input--border input,
.input--border textarea,
.input--border .input__selected {
  border: 1px solid #7F8F99;
}
.input--border input:focus,
.input--border textarea:focus {
  border-color: #684747;
}
.input--select {
  position: relative;
}
.input--select .input__selected {
  padding: 0.52em 0.65em;
  cursor: pointer;
  position: relative;
}
.input--select .input__selected:after {
  content: "";
  border: solid #68767F;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3.5px;
  position: absolute;
  right: 12px;
  top: 42%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.input--select .input__dropdown {
  overflow: auto;
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #7F8F99;
  border-radius: 5px;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 5px rgba(16, 16, 16, 0.1);
          box-shadow: 0 0 5px rgba(16, 16, 16, 0.1);
  background: #fff;
}
.input--select .input__dropdown::-webkit-scrollbar {
  display: none;
}
.input--select .input__dropdown-item {
  padding: 8px 10px;
  border-bottom: 1px solid #CEDCE5;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.input--select .input__dropdown-item:hover {
  color: #40A2E3;
}
.input--select .input__dropdown-item:last-child {
  border: unset;
}
.input--select ._muted {
  color: #68767F;
  -webkit-transition: 0.13s ease-out;
  transition: 0.13s ease-out;
  font-weight: 300;
}
.input--select.active {
  z-index: 1;
}
.input--select.active .input__selected::after {
  top: 58%;
  -webkit-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}
.input--select.active .input__dropdown {
  max-height: 30vh;
  opacity: 1;
  pointer-events: all;
}
.input--password .input__icon-right {
  border-left: unset;
}
.input--password .input__icon-right .icon {
  font-size: 1.3em;
}
.input--password .input__icon-right span:nth-child(1) {
  display: none;
}
.input--password._visable .input__icon-right {
  border-left: unset;
}
.input--password._visable .input__icon-right span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input--password._visable .input__icon-right span:nth-child(2) {
  display: none;
}
.input__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.input__outer label {
  font-size: 16px;
  color: #3B454C;
  font-weight: 500;
}

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.6em 1em;
  border: 1px solid transparent;
  gap: 0.6em;
  border-radius: 6px;
  color: #101010;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button--border-primary {
  border: 1px solid #40A2E3;
  color: #40A2E3;
  font-style: normal;
  font-weight: 500;
}
.button--border-primary .icon {
  font-size: 1.1;
}
.button--border-primary:hover {
  color: #fff;
  background: #40A2E3;
}
.button--border-primary:active {
  color: #fff;
  background: #40A2E3;
  opacity: 0.8;
}
.button--border-dark {
  border: 1px solid #B2C2CC;
  color: #68767F;
  font-style: normal;
  font-weight: 400;
}
.button--border-dark:hover {
  color: #3B454C;
  border-color: #684747;
}
.button--border-dark:active {
  color: #262E33;
  border-color: #262E33;
  background: #F3FAFF;
}
.button--main-primary {
  background-color: #40A2E3;
  color: #fff;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  height: 1em;
}
.logo img {
  height: 100%;
  width: auto;
}

.ratioimage {
  position: relative;
  padding-bottom: 65%;
  width: 100%;
}
.ratioimage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.ratioimage--contain img {
  -o-object-fit: contain;
     object-fit: contain;
}

.noBreak {
  white-space: nowrap;
}

.userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.userinfo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.userinfo__info strong {
  color: #3B454C;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.userinfo__info small {
  color: #40A2E3;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  font-size: inherit;
  color: inherit;
}

.iconButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  border: 1px solid #E9F6FF;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #7F8F99;
  font-size: 16px;
}
.iconButton:hover {
  color: #3B454C;
  border-color: #7F8F99;
}
.iconButton:active {
  color: #40A2E3;
  border-color: #40A2E3;
  background: #F3FAFF;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 30px;
}
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 40px 30px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
}

@-webkit-keyframes sticky {
  from {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes sticky {
  from {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.header {
  position: absolute;
  top: 15px;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: opacity, padding, -webkit-transform;
  transition-property: opacity, padding, -webkit-transform;
  transition-property: opacity, transform, padding;
  transition-property: opacity, transform, padding, -webkit-transform;
}
.header__inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 8px 30px;
  min-height: 60px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.header__inner-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header__inner-search .input {
  max-width: 275px;
}
.header__inner-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 10px;
}
.header__inner-actions .button--border-primary {
  font-size: 16px;
}
.header__inner-actions .button--main-primary {
  font-size: 16px;
}
.header__inner .burger {
  display: none;
}
.header.sticky {
  position: fixed;
  top: 5px;
  -webkit-animation: 0.3s sticky linear;
          animation: 0.3s sticky linear;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: inherit;
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item-text {
  display: none;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: #68767F;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-left: auto;
}
.burger span, .burger::after, .burger::before {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger span {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.burger::before {
  content: "";
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.burger::after {
  content: "";
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.burger:hover {
  opacity: 0.8;
}
.burger.active {
  color: #40A2E3;
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg);
}
.burger.active span {
  width: 0;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.welcome {
  margin: auto;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  text-align: center;
}
.welcome p {
  width: 100%;
  max-width: 825px;
  color: #222;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
}
.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 10px;
  width: 100%;
  max-width: 630px;
}
.welcome__row .button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.welcome__row .button._xlg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 20px;
  min-height: 4em;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
}
.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.search__form h3 {
  margin-bottom: 0.5em;
}
.search__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.search__form-item .input,
.search__form-item .button {
  width: 100%;
  max-width: 270px;
}
.search__form-item label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #3B454C;
  white-space: nowrap;
}
.search__results-seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #F3FAFF;
  font-size: 16px;
  padding: 0.5em 0;
}
.search__results-seperator span {
  color: #B2C2CC;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.search__results-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
  padding: 25px 0;
  gap: 30px;
}
.searchItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 14px;
  border: 1px solid #CEDCE5;
  border-radius: 6px;
}
.searchItem .ratioimage {
  position: relative;
  margin-bottom: 10px;
  background: #F3FAFF;
  border-radius: 5px;
}
.searchItem .ratioimage .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.2em;
  color: #B2C2CC;
}
.searchItem > strong {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  color: #3B454C;
}
.searchItem > span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #7F8F99;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  width: 100%;
}
.join__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 684px;
}
.join__group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  width: 100%;
}
.join .input__outer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: calc(50% - 16px);
}
.join .input__outer._lg {
  width: 100%;
}
.join .input textarea {
  min-height: 124px;
}
.join .input input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0.65;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.join .input input[type=date]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
.join .button {
  width: calc(50% - 16px);
  padding: 0.7em 1em;
}
.join h3 {
  color: #3B454C;
  font-weight: 900;
}
.join h4 {
  font-weight: 600;
  color: #3B454C;
}

.login {
  min-height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
}
.login__inner {
  margin: auto 0;
}
.login__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login__content {
  width: calc(50% - 20px);
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 42px;
}
.login__content-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.login__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
}
.login__image {
  max-width: 348px;
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.login p {
  color: #68767F;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
}
.login a {
  color: #40A2E3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.login a:hover {
  opacity: 0.7;
}
.login h3 {
  font-weight: 900;
  color: #222;
}
.login h3 span {
  color: #40A2E3;
}
.login .input input {
  padding: 0.7em 2.5em 0.7em 1em;
}
.login .input__icon-right {
  border-left: unset;
  pointer-events: none;
  color: #7F8F99;
}
.login .input__icon-right .material-symbols-outlined {
  font-size: 18px;
}
.login .button {
  font-weight: 600;
  padding: 0.68em 1em;
}
.login .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 940px;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 42px;
  }
}
@media (max-width: 1160px) {
  .container {
    padding: 0 40px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 28px;
  }
  p.lg {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .header__inner-search .input {
    font-size: 14px;
  }
  .header__inner .logo {
    font-size: 18px;
  }
  .header__inner-actions {
    gap: 8px;
  }
  .header__inner-actions .button--border-primary {
    font-size: 14px;
  }
  .header__inner-actions .button--main-primary {
    font-size: 14px;
  }
  .login .container {
    max-width: 900px;
  }
}
@media (max-width: 1025px) {
  .container {
    padding: 0 30px;
  }
  .button {
    font-size: 14px;
  }
  .input {
    font-size: 14px;
  }
  .main__inner {
    padding: 35px 25px;
  }
  .header__inner {
    padding: 8px 25px;
  }
  .header__inner .burger {
    display: block;
    z-index: 2;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.4);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all 0s ease 0.3s, opacity 0.4s ease-out;
    transition: all 0s ease 0.3s, opacity 0.4s ease-out;
  }
  .nav__inner {
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 60%;
    max-width: 280px;
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 30px 20px;
    background: #fff;
    opacity: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  .nav__inner .userinfo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .nav__inner .input {
    margin: 15px 0;
  }
  .nav__inner .header__inner-search {
    display: contents;
  }
  .nav__inner .header__inner-actions {
    display: contents;
  }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.8em;
    color: #68767F;
    padding: 5px 0;
    font-size: 14px;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .nav__item-text {
    display: inline-block;
    font-weight: 600;
    color: inherit;
  }
  .nav__item .iconButton {
    font-size: 1.2em;
    color: inherit;
    border: unset;
    width: unset;
    height: unset;
  }
  .nav__item._pro {
    color: #3B454C;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__item:hover {
    color: #3B454C;
  }
  .nav__item:active {
    color: #40A2E3;
  }
  .nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
  }
  .nav.active .nav__inner {
    opacity: 1;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  .nav.active ~ .burger {
    color: #fff;
  }
  .welcome__row .button._xlg {
    font-size: 18px;
  }
}
@media (max-width: 940px) {
  .container {
    padding: 0 25px;
  }
  .join {
    gap: 24px;
  }
  .join__group-row {
    gap: 20px;
  }
  .join .input__outer {
    width: calc(50% - 10px);
  }
  .join .input._lg {
    width: 100%;
  }
  .join .button {
    width: calc(50% - 10px);
  }
  .login__content {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h4._lg {
    font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  p.lg {
    font-size: 14px;
  }
  .main {
    padding-top: 70px;
  }
  .main__inner {
    padding: 30px 20px;
  }
  .header {
    top: 0;
  }
  .header__inner {
    padding: 8px 20px;
    min-height: 50px;
    border-radius: 0 0 6px 6px;
  }
  .header.sticky {
    top: 0;
  }
  .welcome__row {
    max-width: 380px;
  }
  .welcome__row .button {
    width: 100%;
  }
  .welcome__row .button._xlg {
    width: unset;
    font-size: 16px;
    min-height: 3.5em;
  }
  .login__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login__image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    max-width: 360px;
  }
  .login__content {
    width: 100%;
    max-width: 360px;
  }
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }
}
@media (max-width: 460px) {
  .join {
    gap: 20px;
  }
  .join__group-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .join .input__outer,
  .join .button {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    max-width: unset;
  }
  .join h3 {
    font-weight: 700;
  }
}