/* Typography */
h1 {
  font-size: 48px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  font-size: 16px;
  line-height: 1.8em;

  &.lg {
    font-size: 18px;
  }
}

@mixin typo-1280 {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 42px;
  }
}
@mixin typo-1160 {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    &.lg {
      font-size: 16px;
    }
  }
}
@mixin typo-768 {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    &.lg {
      font-size: 14px;
    }
  }
}
