$primary: #F64060;
$dark: #720000;
$light: #F3EED9;
$secondary: #1BBEB9;

$black: #101010;
$black-1: #222;
$white: #fff;
$white-bg: #f7f6f2;

// black
$black_100: #4B3030;
$black_90: #684747;
$black_80: #855F5F;
$black_70: #A27B7B;
$black_60: #C09898;
$black_50: #DDB8B8;
$black_40: #FADADA;
$black_30: #FDE6E6;
$black_20: #FFF2F2;
$black_10: #FFFBFB;

$font-primary: 'Inter', sans-serif;
