$primary: #40A2E3;
$dark: #262E33;
$light: #BBE2EC;
$secondary: #0D9276;

$black: #101010;
$black-1: #222;
$white: #fff;
$white-bg: #EEF5FA;

// black
$black_100: #3B454C;
$black_90: #684747;
$black_80: #68767F;
$black_70: #68767F;
$black_60: #7F8F99;
$black_50: #B2C2CC;
$black_40: #CEDCE5;
$black_30: #E9F6FF;
$black_20: #F3FAFF;
$black_10: #FDFEFF;

$font-primary: 'Inter', sans-serif;


