.welcome {
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  text-align: center;

  p {
    width: 100%;
    max-width: 825px;

    color: $black-1;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    width: 100%;
    max-width: 630px;

    .button {
      flex-grow: 1;
      justify-content: flex-start;
      &._xlg {
        justify-content: center;
        flex-basis: 40%;
        font-size: 20px;
        min-height: 4em;
      }
    }
  }
}

@mixin home-1025 {
  .welcome {
    &__row {
      .button {
        &._xlg {
          font-size: 18px;
        }
      }
    }
  }
}
@mixin home-768 {
  .welcome {
    &__row {
      max-width: 380px;

      .button {
        width: 100%;
        &._xlg {
          width: unset;
          font-size: 16px;
          min-height: 3.5em;
        }
      }
    }
  }
}
