.welcome {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  text-align: center;

  p {
    width: 100%;
    max-width: 825px;

    color: $black-1;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    width: 100%;
    max-width: 630px;

    .button {
      flex-grow: 1;
      justify-content: flex-start;
      &._xlg {
        justify-content: center;
        flex-basis: 40%;
        font-size: 20px;
        min-height: 4em;
      }
    }
  }
}
