.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 30px;

  &__inner {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 160px);
    padding: 40px 30px;
    border-radius: 8px;
    background: $white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  }
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
}

@mixin containers-1025 {
  .main {
    &__inner {
      padding: 35px 25px;
    }
  }
}
@mixin containers-768 {
  .main {
  padding-top: 70px;

    &__inner {
      padding: 30px 20px;
    }
  }
}
